.catalog-second__wrapper {
  background-color: #1b2d37;
}

.catalog-second__headline {
  margin: 0 auto;
  padding-bottom: 30px;

  @include Roboto-mobile-h2($light-headline);
}

.catalog-second__description {
  margin: 0;
  padding-bottom: 20px;

  @include Roboto-mobile-h3($light-headline);
}

.catalog-second__list {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  list-style-type: none;
  text-align: center;
}

.catalog-second__item {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  height: 300px;
  margin: 0 0 20px 0;

  background-image: url("../img/photo2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e5e5e5;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.7);
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-second__item-headline {
  margin: 0;
  padding: 25px 0 25px 25px;
  background-color: $main-background;

  @include Roboto-mobile-h3($dark-headline);
}

@media (min-width: 500px) {
  .catalog-second__headline {
    padding: 0 30px 30px 0;
  }

  .catalog-second__description {
    padding: 0 30px 30px 0;
  }

  .catalog-second__item {
    margin-right: 20px;
  }

  .catalog-second__list {
    margin-right: -20px;
  }
}

@media (min-width: 740px) {
  .catalog-second__headline {
    @include Roboto-tablet-h2($light-headline);
  }

  .catalog-second__item {
    width: 50%;
    max-width: 340px;
  }
}

@media (min-width: 1024px) {
  .catalog-second__headline {
    @include Roboto-desktop-h2($light-headline);
  }
}

@media (min-width: 1225px) {
  .catalog-second__list {
    text-align: left;
  }
}

@media (min-width: 1300px) and (max-width: 1350px) {
  .catalog-second__list {
    padding: 0 70px;
  }
}

@media (min-width: 1351px) {
  .catalog-second__list {
    padding: 0;
  }
}
